<div class="container mx-auto p-6">
  <ul class="mb-4">
    <p *ngIf="!curriculumVitae.cvFieldsDTOs?.length">No hay datos disponibles</p>
    <li *ngFor="let entry of curriculumVitae.cvFieldsDTOs" class="p-2 rounded mb-2" style="background-color: #2f3e51; color: white;">
      {{ entry.category }} - {{ entry.field }} - {{ entry.level }}
    </li>

  </ul>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-4">
    <!-- Categoría -->
    <div>
      <label class="text-lg font-semibold mb-2">Categoría</label>
      <select
        [(ngModel)]="selectedCategory"
        (change)="onCategoryChange()"
        class="border rounded p-2 w-full"
        style="background-color: #2f3e51; color: white;"
      >
        <option value="">Seleccione una Categoría</option>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>

    <!-- Field -->
    <div>
      <label class="text-lg font-semibold mb-2">Field</label>
      <select
        [(ngModel)]="selectedField"
        (change)="onFieldChange()"
        [disabled]="!selectedCategory"
        class="border rounded p-2 w-full"
        style="background-color: #2f3e51; color: white;"
      >
        <option value="">Seleccione un Field</option>
        <option *ngFor="let field of fields" [value]="field">
          {{ field }}
        </option>
      </select>
    </div>

    <!-- Level -->
    <div>
      <label class="text-lg font-semibold mb-2">Level</label>
      <select
        [(ngModel)]="selectedLevel"
        [disabled]="!selectedField"
        class="border rounded p-2 w-full"
        style="background-color: #2f3e51; color: white;"
      >
        <option value="">Seleccione un Nivel</option>
        <option *ngFor="let level of levels" [value]="level">
          {{ level }}
        </option>
      </select>
    </div>
  </div>

  <div class="flex justify-around">
    <button
      class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded"
      (click)="addEntry()"
    >
      Agregar
    </button>

    <button
      class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
      (click)="createOrUpdate()"
    >
      Crear/Actualizar
    </button>
  </div>
</div>
